div img {
    width: 20%;
}
body {
    font-family: 'Montserrat', sans-serif;
    
  }
header {
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
    #effect{
        align-self: center;
    }

    #btn{
        align-self: center;
    }


#thumb-bar{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 40%;
    height: 90%;
    margin-left: 450px;

}


  @media screen and (min-width:640px){ 



  }